<launch>

    <arg name="eg_mode"           default = "1" /> <!--  0-ManEG | 1-AutoEG with limits | 2-AutoE&ManG | 3- fully auto -->
    <arg name="manual_exposure"   default = "125" /> <!-- 0..255 -->
    <arg name="manual_gain"       default = "0" /> <!-- 0..255 -->

    <arg name="min_auto_exposure"       default = "0" /> <!-- 0..255 -->
    <arg name="max_auto_exposure"       default = "150" /> <!-- 0..255 -->

    <arg name="config_path"       default = "$(find loitor_stereo_visensor)/cfg" /> <!-- path where the config files reside -->
    <arg name="camera_id"         default = "LTR002" /> <!-- Camera identifier, this is used to append to config_path to find config files  -->
    <arg name="config_file"       default = "Loitor_VISensor_Setups.txt" /> <!-- camera config file name (relative) - full path will be config_path/camera_id/config_file -->


    <node name="loitor_stereo_visensor" pkg="loitor_stereo_visensor" type="loitor_stereo_visensor" output="screen" >

        <!-- limit the publishing of images to every n'th image -->
        <param name="publish_every_nth_image"            type="int" value="1" />

        <param name="config_path"        type="string" value="$(arg config_path)" />
        <param name="camera_id"          type="string" value="$(arg camera_id)" />
        <param name="config_file"        type="string" value="$(arg config_file)" />

        <param name="eg_mode"            type="int" value="$(arg eg_mode)" />
        <param name="manual_exposure"    type="int" value="$(arg manual_exposure)" />
        <param name="manual_gain"        type="int" value="$(arg manual_gain)" />
        <param name="min_auto_exposure"  type="int" value="$(arg min_auto_exposure)" />
        <param name="max_auto_exposure"  type="int" value="$(arg max_auto_exposure)" />

        <!-- IMU rotation quoternions -->
        <param name="imu_rotation_q_w"  type="double" value="0.707106781187" />
        <param name="imu_rotation_q_x"  type="double" value="0" />
        <param name="imu_rotation_q_y"  type="double" value="-0.707106781187" />
        <param name="imu_rotation_q_z"  type="double" value="0" />

        <!-- Camera timestamp fixed shift -->
        <param name="image_time_shift_sec"  type="double" value="0.0" />

    </node>

</launch>
